*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
img{
    height: 100%;
    width: 100%;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.flex-design{
    display: flex;
  justify-content: space-between;
    align-items: center;
}






.content{
    max-width: 1020px;
    margin: auto;
   
}
.mb {
    margin-bottom:5rem ;
}
.mt{
    margin-top: 5rem;
}



.fa-bars{
    color: #f28d11;
    
}
.btn{
    background: black;
    border-radius: 25px;
    color: white;
    border: 2px solid black;
    margin: 5px;
    padding: 8px;
}
.btn:hover{
    transition: 500ms;
    background: white;
    color: black;
}
header{
    height: 93vh;
    background: url(./banner.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.header-content.sticky{
    padding: 2rem;
    background-color: #f28d11;
    background-color: white;
}
.header-content{
    background:transparent;
    width: 100%;
    padding: 2rem;
  
    height: 60px;
    position:fixed;
}
.logo{
    height: 50px;
    margin-left: 4rem;
}
.nav-links{
    display: flex;
    margin-right: 4rem;
 
}
.cl{
    color: black;
}
 .nav{ 
    padding: 12px;
   
}
.nav-links .cl:hover{
    transition: 300ms;
    color: aqua;
}
.burger{
    display: none;
    font-size: 30px;
    cursor: pointer;
}
.create-head{
    align-items: center;
    width: 80%;
}
.create_img{
    margin-bottom: 0;
}
.stutext{
    width: 100%;
    padding: 5rem;
}

.sec{
    padding: 10px;
}
.sec_co{
    display: flex;
    margin: 0px 60px;
    padding: 10px;
}
.sec_con{
    width: 100%;
    display: flex;
    
    
}
.sec_im{
    width: 50%;
   
    
}
.sec_img{
  width: 85%;
}
.sec_text{
    
   width: 50%;
    margin-top: 100px;
}
.sec_text>p{
    padding: 0 50px;
}
.headi{
    text-align: center;
    margin-top: 40px;
}
.group{
    text-align: center;
    width: 95%;
    margin: 100px 60px;
 
}
.group_l{
    margin: 0 50px;
    padding: 0 110px;
}



@media  only screen and (max-width:1006px){
    
    .sec_con {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .sec_im {
        width: 100%;
    }
    .sec_img{
        width: 100%;
    }
    .sec_text{
        width: 100%;
    }
}



@media  only screen and (max-width:674px) {
    .nav-links{
      /*  display: none; */
        position: absolute;
        flex-direction: column;
        background-color: white;
        right: -10rem;
        top: 60px;
        height: 70vh;
        width: 0%;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
        transition: all 400ms;
        
    }
    .logo{
        position: relative;
        left: 30px;
        height: 50px;
        margin: 5px auto;
       
    }
    .burger{
        display: block;
        
        margin-right: 1.5rem;
       
    }
    .nav-show{
        width: 100%;
        right: 0px;
    }
}


